%h1 Listing photos

%table
  %tr
    %th Gallery
    %th Description
    %th
    %th
    %th

  - @photos.each do |photo|
    %tr
      %td= @gallery.name
      %td= photo.description
      %td= link_to 'Show', gallery_photo_path(@gallery, photo)
      %td= link_to 'Edit', edit_gallery_photo_path(@gallery, photo)
      %td= link_to 'Destroy', gallery_photo_path(@gallery, photo), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Photo', new_gallery_photo_path(@gallery)
