%p#notice= notice

%p
  = image_tag @photo.image.thumb('902x602').url

%p
  = @photo.description

= link_to 'Edit', edit_gallery_photo_path(@gallery, @photo)
\|
= link_to 'Back', gallery_photos_path(@gallery)
