%p#notice= notice

%p
  = image_tag @photo.image.thumb('902x602').url
  = image_tag @photo.image.thumb('902x602').process(:convert, '-blur 6x20').url
%p
  = @photo.description

= link_to 'Edit', edit_gallery_photo_path(@gallery, @photo)
\|
= link_to 'Back', gallery_photos_path(@gallery)
