%h1{class:"ruby_header"} 
    %span{class:"method"} has_many
    %span{class:"symbol"} :thoughts,
    %span{class:"hash_key"} through:
    %span{class:"symbol"} :blog

%ul{ id:"blog_roll" }
    -@blog.posts.each do |post|
        %li{ class:"post_index_row row"}
            %h3= post.title
            %h4= post.description
            -if user_signed_in?
                %ul{class:"post_index_actions"}
                    %li= link_to "Delete", post,  confirm: "delete post?", method: :delete, class:""
                    %li= link_to 'Edit' , edit_post_path(post), {class:""}
                    %li= link_to 'View', post, {class:""}
            
            %div
                = markdown(truncate(post.body, length: 600, ommission:"..."))
                =link_to 'Read More', post, {class:"post-readmore"}
            %p{class:"post_info"}
                
                %div{class:"date_created span4"}
                    %b created on: 
                    = post.date_created
                    by: 
                    %span{class:"user"}
                        %span{ class:"label label-info"}= post.user.username
                        -if user_signed_in?
                            - if post.published?
                                %span{class:"label label-success"}
                                    published
                            -else
                                %span{class:"label label"}
                                    not published