%h1 Blog Posts

%ul{ id:"blog_roll" }
    -@blog.posts.each do |post|
        %li{ class:"post"}
            %h3= post.title
            %h4= post.description
            %p=  post.body
            %span{class:"user"}
                By:
                = post.user.email
            %span{class:"date_created"}
                created on: 
                = post.date_created
            - if post.published?
                %span{class:"published_date"}
                    published on: 
                    = post.date_published