%h1{class:"ruby_header"} 
    %span{class:"method"} has_many
    %span{class:"symbol"} :thoughts,
    %span{class:"hash_key"} through:
    %span{class:"symbol"} :blog

%ul{ id:"blog_roll" }
    -@blog.posts.each do |post|
        %li{ class:"post_index_row row"}
            %h3= post.title
            %h4= post.description
            %p
                = truncate strip_tags(post.body), length: 600, ommission:"..."
                =link_to '[Read More]', post
            %p{class:"post_info"}
                
                %div{class:"date_created span4"}
                    %b created on: 
                    = post.date_created
                    by: 
                    %span{class:"user"}
                        %span{ class:"label label-info"}= post.user.username
                        -if user_signed_in?
                            - if post.published?
                                %span{class:"label label-success"}
                                    published
                            -else
                                %span{class:"label label"}
                                    not published
            -if user_signed_in?
                %div{class:"btn-group post_index_actions span3 offset6"}
                    = link_to "Delete", post,  confirm: "delete post?", method: :delete, class:"btn btn-danger"
                    = link_to 'Edit' , edit_post_path(post), {class:"btn btn-primary"}
                    = link_to 'View', post, {class:"btn btn-success"}
            -else
                %div{class:"btn-group post_index_actions span3 offset6"}
                    = link_to 'View', post, {class:"btn btn-success"}
                    = link_to 'Comments (#)', post, {class:"btn btn-success"}