%h1 Blog Posts

%ul{ id:"blog_roll" }
    -@blog.posts.each do |post|
        %li{ class:"post"}
            %h3= post.title
            %h4= post.description
            %p= truncate strip_tags(post.body), length: 300, ommission:"..."
            %p{class:"post_info"}
                %span{class:"user"}
                    By:
                    = post.user.email
                %span{class:"date_created"}
                    created on: 
                    = post.date_created
                - if post.published?
                    %span{class:"published_date"}
                        published on: 
                        = post.date_published
            %p{class:"actions"}
                = link_to 'View', post
                = link_to 'Edit' , edit_post_path(post)
                = link_to "Delete", post,  confirm: "delete post?", method: :delete
                
            