%p#notice= notice


%h1{class:"post_title"}= @post.title
%h2{class:"post_description"}= @post.description
%div{class:"post_information"}
  %h3{class:"post_meta"}
    %b Date created:
    = @post.date_created
  %h3{class:"post_meta"}
    by: 
    = @post.user.username  
  %h3{class:"post_meta"}
    -if @post.published
      %span{class:"label label-success"} Published
    -else
      %span{class:"label"} Not Published
%div{class:"post_content"}
  = @post.body

= link_to 'Edit', edit_post_path(@post.url_slug)
\|
= link_to 'Back', posts_path
