%h1 Photography
%div{class:"span12", id:""}
  -if user_signed_in?
    = link_to 'New Gallery', new_gallery_path
  %ul{class:"span12", id:"gallery-list"}
    - @galleries.each do |gallery|
      %li{class:"span12"}
        -if photo = gallery.photos.first
          = link_to(image_tag(photo.image.thumb("400x400").url), gallery)
        %div{class:"meta"}
          %h2= gallery.name
          %h3= gallery.description
          -if user_signed_in?
            %ul
              %li= link_to 'Show', gallery
              %li= link_to 'Edit', edit_gallery_path(gallery)
              %li= link_to 'Destroy', gallery, :confirm => 'Are you sure?', :method => :delete


