%h1 Listing galleries

%table
  %tr
    %th Name
    %th Slug
    %th Description
    %th
    %th
    %th

  - @galleries.each do |gallery|
    %tr
      %td= gallery.name
      %td= gallery.slug
      %td= gallery.description
      %td= link_to 'Show', gallery
      %td= link_to 'Edit', edit_gallery_path(gallery)
      %td= link_to 'Destroy', gallery, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Gallery', new_gallery_path
