%div{ id:"photo_gallery"}
  %p#notice= notice

  %h1
    = @gallery.name
  %h2
    = @gallery.description

  %ul.span12
    - @gallery.photos.each do |photo|
      %li.span4
        =link_to image_tag(photo.image.thumb("300x241").url), gallery_photo_path(@gallery, photo), {:"data-fullsize" => photo.image.thumb("902x602").url }
  


  = link_to 'Edit', edit_gallery_path(@gallery)
  \|
  = link_to 'Back', galleries_path
