%div{ id:"photo_gallery"}
  %p#notice= notice

  %h1
    = @gallery.name
  %h2
    = @gallery.description

  %ul
    - @gallery.photos.each do |photo|
      %li
        =link_to image_tag(photo.image.thumb("360x241").url), gallery_photo_path(@gallery, photo)
  


  = link_to 'Edit', edit_gallery_path(@gallery)
  \|
  = link_to 'Back', galleries_path
