%div{ id:"photo_gallery"}
  %p#notice= notice

  %h1
    = @gallery.name
  -#%h2
    = @gallery.description

  %ul.span12
    - @gallery.photos.each do |photo|
      %li.span4
        =link_to image_tag(photo.image.thumb("300x241").url), gallery_photo_path(@gallery, photo), {:"data-fullsize" => photo.image.thumb("902x602").url }
  

%ul#bottom-menu.span12
  %li= link_to 'Back', galleries_path
  -if user_signed_in?
    %li= link_to 'Edit', edit_gallery_path(@gallery)
    %li= link_to 'Add Photo', new_gallery_photo_path(@gallery)
  
