<!DOCTYPE html>
<html>
<head>
  <title>Cassowary - A blog engine for Rails!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
        <a class="brand" href="/">
          Peter de Croos
            </a>
          <ul class="nav">
              <li><a href="#"> Awesome!!!</a> </li>
              <% if user_signed_in? %>
                <li><%= link_to 'sign out',  destroy_user_session_path, method: :delete %></li>
                <li>
                    <div class="btn-group">
                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                        Posts
                        <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- dropdown menu links -->
                            <li><%= link_to '(+) New Post', new_post_path, { :class => ""} %></li>
                            
                        </ul>
                         
                    </div>
                </li>
              <% else %>
                <li><%= link_to( 'sign in', new_user_session_path, { :class => "btn dropdown-toggle"} ) %>
              <% end %>
          </ul>
        </div>
      </div>
    </div>
    
    <div id="main" class="container-fluid">
       
        
      <div class="row-fluid">
        <div class="span2">
          <!--Sidebar content-->
          <p>lol yayyyyyy its awesome ypp!!</p>
        </div>
        <div class="span10">
          <!--Body content-->
          <%= yield %>
        </div>
      </div>
    </div>




</body>
</html>
